@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{ 
    font-family:"Lora"; 
    background-color:#f2eade; 
    color :#3a405a; 
}

/* mouse hovering color change */

a:hover { 
    color: rgb(255, 180, 180)
}

h1{
    color:rgb(0, 0, 77);
    padding: 26px;
}