
{% extends 'layout.html' %}'
{% block content %}
    
<h2>Subjects in Level</h2>

<p>this is the home page</p>

<div class = main_buttons>

<div class="row">
    <div class="column">
        <a href="/level/1"><img src="static/images/level1.jpg" class = "button"/>
        </a>
    
        <a href="/level/2"><img src="static/images/Level2.jpg" class = "button"/>
        </a>
    
        <a href="/level/2"><img src="static/images/Level3.jpg" class = "button"/>
        </a>
    </div>
    </div>



</div>
{% endblock %}
